Repository MystenLabs/walrus-sites, pull requests merged in 2024-10, with the labels that each got.

#221 feat: support any http header
  Cargo.lock
  examples/snake/ws-resources.json
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/types/index.ts
  site-builder/Cargo.toml
  site-builder/assets/builder-example.yaml
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/config.rs
  site-builder/src/site/content.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
Labels: portal, site-builder, smart-contract

#237 feat(service-worker): handle cache storage overflow
  portal/worker/src/caching.ts
Labels: cache

#234 feat(contract): Add range field to Resource
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
  portal/common/lib/constants.ts
  site-builder/assets/builder-example.yaml
Labels: smart-contract

#238 feat(site-builder): new unchanged resource operation
  site-builder/src/site/builder.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/summary.rs
Labels: site-builder

#235 feat(portal): integrate resource routing to portal
  examples/snake/ws-resources.json
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/types/index.ts
  portal/server/next-env.d.ts
  site-builder/assets/builder-example.yaml
Labels: portal

#242 feat(portal): propagate requests to a fallback devnet portal
  .github/workflows/codspeed.yml
  .github/workflows/lint.yml
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
Labels: server-portal, service-worker

#246 feat(common-lib): derive dynamic field instead of call to fullnode
  portal/common/lib/bcs_data_parsing.ts
  portal/common/lib/objectId_operations.test.ts
  portal/common/lib/objectId_operations.ts
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.bench.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
Labels: common-library, performance

#261 chore: bump version to 1.0.0
  Cargo.lock
  site-builder/Cargo.toml
Labels: site-builder

#269 chore: delete benchmarks for resource and page_fetching
  portal/common/lib/page_fetching.bench.ts
  portal/common/lib/resource.bench.ts
Labels: chore, common-library

#270 perf: replace getObject for pageData with multiGetObjects
  portal/common/lib/page_fetching.ts
  portal/common/lib/redirects.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/pnpm-lock.yaml
Labels: common-library, performance
