Repository MystenLabs/walrus-sites, pull requests merged in 2024-08, with the labels that each got.

#150 fix(portal): ensure that 404 is fetched when we can't find a resource
  portal/common/lib/page_fetching.ts
Labels: bug, portal

#149 feat(portal): add more unit tests to the portal common library
  portal/common/lib/decompress_data.test.ts
  portal/common/lib/decompress_data.ts
  portal/common/lib/page_fetching.ts
Labels: portal

#192 feat(service-worker): Redirect to blob.store if SW not able to install
  portal/common/lib/constants.ts
  portal/worker/src/walrus-sites-portal-register-sw.ts
  portal/worker/tsconfig.json
  portal/worker/webpack.config.common.js
Labels: service-worker

#183 feat(portal): add caching to the service worker
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.ts
  portal/common/lib/types/index.ts
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Labels: enhancement, portal, service-worker
