Repository MystenLabs/walrus-sites, pull requests merged in 2024-11, with the labels that each got.

#266 feat(site-builder): check in walrus config for sites-config.yaml
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/main.rs
Labels: site-builder

#283 docs: create a c4 diagram for walrus sites
  .editorconfig
  c4/.structurizr/1/images/Diagram1-thumbnail.png
  c4/.structurizr/1/images/Diagram2-thumbnail.png
  c4/.structurizr/1/images/Diagram3-thumbnail.png
  c4/.structurizr/1/images/PortalView-thumbnail.png
  c4/.structurizr/1/images/SmartContractView-thumbnail.png
  c4/.structurizr/1/images/SystemView-thumbnail.png
  c4/.structurizr/1/images/WalrusSitesView-thumbnail.png
  c4/.structurizr/1/images/thumbnail.png
  c4/.structurizr/index/write.lock
  c4/README.md
  c4/workspace.dsl
  c4/workspace.json
Labels: documentation

#272 feat: support wildcards in http headers
  Cargo.lock
  examples/snake/ws-resources.json
  site-builder/Cargo.toml
  site-builder/src/site/resource.rs
Labels: site-builder

#289 feat(site-builder): use multiple ptbs to upload large sites
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Labels: site-builder

#293 feat(portal): update portal domain name resolution using length
  portal/common/lib/domain_parsing.test.ts
  portal/common/lib/domain_parsing.ts
  portal/common/lib/redirects.ts
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
Labels: portal, common-library

#295 chore: upgrade main
  portal/common/lib/domain_parsing.test.ts
  portal/common/lib/domain_parsing.ts
  portal/common/lib/redirects.ts
  portal/server/app/route.ts
  portal/server/next-env.d.ts
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Labels: chore

#277 feat(portal)!: Add full-node fallback list by instantiating a sui client for each rpc node
  portal/common/lib/constants.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.test.ts
  portal/common/lib/suins.ts
  portal/server/app/route.ts
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Labels: enhancement, portal, common-library

#301 fix(service-worker & cache): remove checkCachedVersionMatchesOnChain
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
Labels: bug, cache

#307 feat(common): add a new -debug- logging level
  portal/common/lib/logger.ts
  portal/common/lib/page_fetching.ts
  portal/server/app/route.ts
Labels: common-library

#302 feat: integrate sentry to server portal
  portal/common/lib/decompress_data.ts
  portal/common/lib/links.ts
  portal/common/lib/logger.ts
  portal/common/lib/objectId_operations.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/redirects.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.ts
  portal/pnpm-lock.yaml
  portal/server/app/route.ts
  portal/server/instrumentation.ts
  portal/server/next.config.mjs
  portal/server/package.json
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Labels: ops, server-portal

#300 refactor: create logger class abstraction
  portal/common/lib/decompress_data.ts
  portal/common/lib/links.ts
  portal/common/lib/logger.ts
  portal/common/lib/objectId_operations.ts
  portal/common/lib/page_fetching.ts
  portal/common/lib/redirects.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.ts
  portal/pnpm-lock.yaml
  portal/server/app/route.ts
  portal/server/instrumentation.ts
  portal/server/next.config.mjs
  portal/server/package.json
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Labels: refactor, common-library

#291 feat(contract): add a burn function to destroy unused old sites
  move/walrus_site/Move.lock
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
  sites-config.yaml
Labels: smart-contract
