Repository MystenLabs/walrus-sites, pull requests merged in 2024-12, with the labels that each got.

#315 feat: use type origin map to get correct struct types after upgrades
  site-builder/src/main.rs
  site-builder/src/site.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/util.rs
Labels: site-builder

#311 feat(server-portal): blocklist subdomains
  portal/common/lib/blocklist_checker.ts
  portal/common/lib/page_fetching.ts
  portal/pnpm-lock.yaml
  portal/server/app/route.ts
  portal/server/package.json
Labels: server-portal

#310 feat(ops): add move-tests github action and improve test coverage
  .github/workflows/move-tests.yml
  move/walrus_site/tests/site_tests.move
Labels: ops, smart-contract

#314 feat(docs): include a star-history graph and update the portal description
  README.md
Labels: documentation

#323 refactor(portal): make sp locally deployable and vercel independent
  portal/server/app/route.ts
  portal/server/custom_blocklist_checker.ts
  portal/server/next.config.mjs
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
  portal/server/sentry_logger.ts
  portal/worker/webpack.config.common.js
Labels: portal, refactor

#318 feat(site-builder): add new package to config, expose destroy command
  move/walrus_site/sources/site.move
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site.rs
  site-builder/src/site/builder.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
  sites-config.yaml
Labels: site-builder

#324 feat(portal): SEINT-406 hide full node urls from the server portal code
  portal/common/.env.test
  portal/common/lib/constants.ts
  portal/common/lib/rpc_selector.ts
  portal/common/vite.config.mts
  portal/server/.env.example
Labels: portal

#329 feat(github-actions): add prettier formatting in the move-tests workflow
  .github/workflows/move-tests.yml
  move/walrus_site/sources/site.move
  move/walrus_site/tests/site_tests.move
Labels: ops

#327 feat(server-portal): create ConfigurationLoader
  portal/server/app/route.ts
  portal/server/configuration_loader.ts
  portal/server/custom_blocklist_checker.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Labels: enhancement, refactor, server-portal

#326 refactor(common-lib): use a more object-oriented-programming approach
  portal/common/lib/page_fetching.ts
  portal/common/lib/resource.test.ts
  portal/common/lib/resource.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/routing.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.test.ts
  portal/common/lib/suins.ts
  portal/common/lib/url_fetcher.ts
  portal/server/app/route.ts
  portal/server/configuration_loader.ts
  portal/server/custom_blocklist_checker.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
  portal/worker/src/caching.ts
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Labels: portal, refactor, common-library

#328 feat(server-portal): SEINT-409 create allowlist mechanism
  portal/server/allowlist_checker.ts
  portal/server/app/route.ts
  portal/server/configuration_loader.ts
  portal/server/url_fetcher_factory.ts
Labels: server-portal
