Repository MystenLabs/walrus-sites, pull requests merged in 2025-01, with the labels that each got.

#337 feat(common-lib): derive routes df instead of fetch
  portal/common/lib/routing.ts
Labels: common-library, performance

#343 fix(server-portal): return when Routes df is not found
  portal/common/lib/routing.ts
Labels: bug

#345 chore(site-builder): general reliability improvements
  Cargo.lock
  site-builder/Cargo.toml
  site-builder/src/backoff.rs
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/retry_client.rs
  site-builder/src/site.rs
  site-builder/src/site/contracts.rs
  site-builder/src/site/manager.rs
  site-builder/src/site/resource.rs
  site-builder/src/util.rs
Labels: site-builder

#344 feat: create SENTRY_TRACES_SAMPLE_RATE env variable
  portal/server/configuration_loader.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
Labels: server-portal

#350 feat(portal): integrate vercel web analytics
  portal/pnpm-lock.yaml
  portal/server/app/layout.tsx
  portal/server/package.json
Labels: ops, server-portal

#352 fix(portal): decrease number of events tracked per page-view
  portal/server/web_analytics.ts
Labels: ops, server-portal

#353 fix(portal): improve vercel web analytics event sampling
  portal/server/web_analytics.ts
Labels: server-portal

#355 fix(common-lib): remove error from subdomainToObjectId
  portal/common/lib/objectId_operations.ts
Labels: bug, common-library

#356 fix(common-lib): initialize array to avoid reducing empty array error
  portal/common/lib/routing.ts
Labels: bug, common-library

#362 feat(common): support for new SuiNS walrus site id resolution
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.test.ts
  portal/common/lib/suins.ts
  portal/common/lib/types/index.ts
  portal/common/package.json
  portal/pnpm-lock.yaml
Labels: common-library

#365 feat: add SUINS_CLIENT_NETWORK to config
  portal/common/lib/resource.test.ts
  portal/common/lib/routing.test.ts
  portal/common/lib/rpc_selector.ts
  portal/common/lib/suins.test.ts
  portal/common/lib/types/index.ts
  portal/server/configuration_loader.ts
  portal/server/url_fetcher_factory.ts
  portal/worker/src/walrus-sites-sw.ts
  portal/worker/webpack.config.common.js
Labels: common-library

#369 feat: update .env.example
  portal/server/.env.example
  portal/worker/.env.example
Labels: documentation

#371 feat: support a RedisBlocklistChecker and improve code structure
  portal/common/lib/blocklist_checker.ts
  portal/pnpm-lock.yaml
  portal/server/app/route.ts
  portal/server/blocklist_checker.ts
  portal/server/configuration_loader.ts
  portal/server/custom_blocklist_checker.ts
  portal/server/package.json
Labels: enhancement, refactor, server-portal, common-library

#373 refactor: move source files to a src/ directory
  portal/server/app/route.ts
  portal/server/sentry.client.config.ts
  portal/server/sentry.edge.config.ts
  portal/server/sentry.server.config.ts
  portal/server/src/allowlist_checker.ts
  portal/server/src/blocklist_checker.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/sentry_logger.ts
  portal/server/src/url_fetcher_factory.ts
  portal/server/src/web_analytics.ts
Labels: refactor

#374 feat: sew 21 migrate the allowlist from vercel edge config to redis
  portal/server/app/route.ts
  portal/server/src/allowlist_checker.ts
  portal/server/src/allowlist_checker_interface.ts
  portal/server/src/blocklist_checker.ts
  portal/server/src/enums.ts
  portal/server/src/redis_client_facade.ts
Labels: portal

#379 refactor: sew 30 move static files from common lib to the service worker
  portal/common/html_templates/404-page.template.html
  portal/common/html_templates/hash-mismatch.html
  portal/common/lib/http/http_error_responses.ts
  portal/common/tsconfig.json
  portal/server/tsconfig.json
  portal/worker/static/404-page.template.html
  portal/worker/static/concrete.css
  portal/worker/static/fonts/AlumniSans-Bold.ttf
  portal/worker/static/fonts/InterTight-Bold.ttf
  portal/worker/static/fonts/InterTight-Medium.ttf
  portal/worker/static/hash-mismatch.html
  portal/worker/static/images/apple-touch-icon.png
  portal/worker/static/images/favicon-16x16.png
  portal/worker/static/images/favicon-32x32.png
  portal/worker/static/images/favicon.ico
  portal/worker/static/index-sw-enabled.html
  portal/worker/static/index.html
  portal/worker/static/normalize.css
  portal/worker/tsconfig.json
  portal/worker/webpack.config.common.js
Labels: service-worker, common-library

#375 feat: use different redis databases for allowlist and blocklist
  portal/server/src/allowlist_checker.ts
  portal/server/src/blocklist_checker.ts
  portal/server/src/configuration_loader.ts
  portal/server/src/redis_client_facade.ts
Labels: enhancement

#376 refactor: replace custom config loader with Zod
  portal/pnpm-lock.yaml
  portal/server/package.json
  portal/server/src/configuration_loader.ts
Labels: refactor

#320 feat(site-builder): SEINT-228 Support for deletable blobs
  .gitignore
  site-builder/src/main.rs
  site-builder/src/publish.rs
  site-builder/src/site/manager.rs
  site-builder/src/walrus.rs
  site-builder/src/walrus/command.rs
  site-builder/src/walrus/output.rs
Labels: site-builder
